.FM-details {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.FM-details .FM-details-div {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.FM-details .FM-property-img{
    width: 100%;
}
.FM-details .FM-category-span {
    margin: 40px 0;
}
.FM-details .FM-h2 {
    font-size: 14px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--color-border);
}
.FM-desc {
    font-size: 1rem;
    line-height: 28px;
    margin: 15px 0;
}
.FM-div-30 {
    height: max-content;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px var(--color-border);
}
@media screen and (max-width:768px){
    .FM-div-30 , .FM-details-div{
        width: 100% !important;
    }
    .FM-div-30 {
        margin-top: 60px;
    }
}