.FM-btn {
    padding : 80px 0;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.FM-btn button{
    margin: 12px 10px;
    font-size: 1rem;
    font-weight: 400;
    padding: 12px 18px;
    border: none;
    border-radius: 6px;
    color: var(--color-white);
    cursor: pointer;
}
.FM-active-btn {
    background-color: var(--color-orange);
}
.FM-normal-btn {
    background-color: var(--color-dark);
}
@media screen and (max-width:768px){
    .FM-btn {
        width: 100%;
        padding: 0;
        justify-content: center;
    }
}