.FM-accordion {
    background-color: var(--color-gray);
    margin-top: 60px;
    border-radius: 10px;
    width: 100%;
}
.FM-accordion .FM-Question {
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    padding: 15px 20px;
    border-bottom: 1px solid var(--color-border);
}
.FM-accordion-show {
    color: var(--color-orange);
}
.FM-accordion-desc {
    font-size: 1.0625rem;
    transition: 0.4s ease-in-out;
}
.FM-desc-shown {
    padding: 15px 20px;
    height: max-content;
    opacity: 1;
}
.FM-desc-hidden {
    position: relative;
    height: 0;
    opacity: 0;
    z-index: -1;
}
.FM-span-blue {
    color: var(--color-blue);
}
.FM-span-pink {
    color: var(--color-pink);
}